<mat-toolbar>
   <a [routerLink]="['/']" routerLinkActive="router-link-active" ><span>My App</span></a>
   <span class="spacer"></span>
   <button *ngIf="userIsAuthenticated" mat-button [routerLink]="['/create']" routerLinkActive="router-link-active" >
    New Post
  </button>
  <button *ngIf="!userIsAuthenticated" mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >
    Login
  </button>
  <button *ngIf="!userIsAuthenticated" mat-button [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" >
   Signup
  </button>
  <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
 </mat-toolbar>
