<mat-accordion multi = "true" >
    <mat-expansion-panel hideToggle *ngFor="let post of posts" >
      <mat-expansion-panel-header >
        <mat-panel-title>
          <p>{{ post.title }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <p>{{ post.content }}</p>
        <mat-action-row>
          <button mat-button color="primary" [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active" >Edit</button>
          <button mat-button color="accent" (click)= "onDelete(post.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>    
<p *ngIf="posts.length <= 0" class="mat-body-1 info-text">No posts added yet!</p>