<mat-accordion multi = "true" >
    <mat-expansion-panel hideToggle *ngFor="let post of posts" >
      <mat-expansion-panel-header >
        <mat-panel-title>
          <p>{{ post.title }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
        <mat-action-row>
          <button mat-button color="primary">Edit</button>
          <button mat-button color="accent">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>    
<p *ngIf="posts.length <= 0" class="mat-body-1 info-text">No posts added yet!</p>